.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  font-size: 36px;
}

.banner p {
  color: whitesmoke;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.banner img{
  align-content: flex-start;
}
